.pukpun-card{
  margin-bottom:30px;
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
  box-shadow:0 0 10px rgba(0,0,0,0.8);
}

.pukpun-title{
  font-weight: 700;
  font-size: 1.28em;
  margin-top: 13px !important;
  line-height: 1.28em;
}

.pukpun-divider{
  margin-right:-30px !important
}

.ml15{
  margin-left:15px !important;
}

.mlb13{
  margin-bottom:13px !important;
  margin-left:13px !important;
}

.pukpun-map{
  width: 100.5% !important;
  height: 100% !important;
}

.show {
  display: block;
}
.defaultHide {
  display:none;
}